<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
<h1> {{ pageTitle }} </h1>

<form>

Search: <input type='test' ng-model='searchBy'>

</form>
<ul>


  <li ng-repeat="items in data.links | orderBy:'-visits'  | filter: searchBy">
  {{items.url}}
    <b>Shortened Link:</b>

      <a ng-href="{{ items.base_url + '/api/links/' + items.code }}">{{items.base_url + '/' + items.code }}</a>
    <b>Visits:</b> {{ items.visits }}
  </li>

</ul>

<!-- iterate through list and display all of them -->
</div>

